.header .ant-btn.ant-btn-default.ant-btn-icon-only {
    border: none;
}

.header h4.title {
    margin: 0;
    cursor: pointer;
}

@media (max-width: 544px) {
    .header h4.title {
        display: none;
    }
}

.header svg {
    padding-top: 4px;
    margin-right: 4px;
}

.package-table svg, .filename-menu svg {
    margin-left: 5px;
    vertical-align: middle;
}

.modal-settings .ant-btn.ant-btn-default.ant-btn-icon-only {
    border: none;
}

.package-modal .ant-modal-header {
    padding-bottom: 10px;
}

.package-modal .ant-modal-content {
    padding-bottom: 25px;
}
